* {
    text-align: center;


}

li {
    font-size: larger;
    background-color: yellow;
}

h1 {
    background-color: rgb(205, 43, 226);
}

#pmen {
    height: 400px;
    width: 300px;
}

#menwear button {
    background-color: chocolate;
    font-size: large;
}

#tshirt {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

h2 {
    color: white;
}